/* Estilos generales */
#wrapper {
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    transition: all 0.25s ease;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 15rem;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #343a40;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group-item {
    color: white;
    background-color: #343a40;
    border: none;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #495057;
}

#page-content-wrapper {
    flex-grow: 1;
    padding: 20px;
    transition: all 0.25s ease-out;
}

/* Mostrar el sidebar cuando está toggled */
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Mantener el sidebar visible en pantallas grandes */
@media (min-width: 800px) {
    #sidebar-wrapper {
        margin-left: -15rem; /* Ocultar el sidebar por defecto */
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0; /* Mostrar el sidebar cuando se presiona el botón */
    }

    #page-content-wrapper {
        min-width: calc(100% - 15rem); /* Ajustar el contenido */
    }

    #menu-toggle {
        display: none; /* Ocultar el botón de menú en pantallas grandes */
    }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 100%;
    }
}

/* Estilo para el contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.sticky-header thead {
    background-color: white;
  }
  .sticky-header thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }
  
  
  .table-container {
    max-height: 900px;
    overflow-y: auto;
  }
  
  .table-wrapper {
    max-height: 900px;      /* Ajusta según tu necesidad */
    overflow-y: auto;
    border: 1px solid #ccc; /* Opcional, solo para que se vea mejor */
    border-radius: 10px;
  }
  
  .sticky-header thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Asegura que el encabezado no se superponga con el contenido */
    z-index: 1;               /* Se mantiene arriba del tbody */
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1); /* Opcional, solo para visual */
  }
  
  /* Overlay oscuro solo visible en móvil */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparente */
    z-index: 999; /* justo debajo del sidebar (que tiene 1000) */
    display: none;
  }
  
  @media (max-width: 768px) {
    .overlay {
      display: block;
    }
  }
  